* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

html {
    display: block;
    overflow-x: clip;
}

main, footer, header {
    width: 70%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 6em;
}

a:hover {
    opacity: 0.8;
}

html, body, header, nav, main, section {
    background-color: black
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px;
}

nav svg {
    width: 3em;
    height: 3em;
}

.nav-buttons {
    display: flex;
    align-self: end;
    gap: 3em;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.menu-button svg {
    width: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

#introduction-sequence-container {
    position: relative;
    margin-bottom: 10em;
}

.introduction-sequence {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 600px;
}

.introduction-sequence div {
    text-align: end;
    z-index: 2;
    min-width: 540px;
}

.introduction-sequence div span {
    font-size: 6em;
    font-weight: 500;
}

.introduction-sequence img {
    position: absolute;
    left: 25em;
    top: 5em;
    z-index: 0;
}

.go-to {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 1.5em;
}

.go-to svg {
    width: 40px;
}

.go-to span {
    opacity: 60%;
}

.our-clients-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 85%;
    margin-bottom: 20em;
    min-width: 855px;
}

#our-clients-label {
    font-size: 1em;
    opacity: 60%;
}

.our-clients-container div {
    display: flex;
    justify-content: space-between;
}

.our-clients svg {
    height: 3em;
}

.our-clients img {
    height: 3em;
    width: 220px;
}

#what-are-we-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30em;
    width: 100%;
    margin-bottom: 20em;
    gap: 5em;
}

#what-are-we-container img {
    width: 50%;
}

.what-are-we {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 45%;
}

.what-are-we h2 {
    font-size: 2em;
}

.what-are-we span {
    font-size: 1.1em;
    opacity: 60%;
}

#our-projects-container {
    width: 100%;
}

.our-projects-label {
    margin-bottom: 1em;
}

.our-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    margin-bottom: 15em;
}

.our-projects img {
    width: 100%;
}

.our-projects #right-side, .our-projects #left-side {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.coming-soon-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: #FFFFFF1A;
    height: 100%;
    padding: 1em;
}

.coming-soon-projects h3 {
    font-size: 1.5em;
}

.coming-soon-projects div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    background-color: black;
    height: 2em;
    width: 8em;
    border-radius: 1em;
    min-width: 2em;
    font-size: 0.9em;
}

#other-projects-container h2 {
    margin-left: 0.2em;
    margin-bottom: 0.5em;
}

.other-projects-carousel-images {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2em;
    width: 1280px;
    overflow: hidden;
}

.other-projects-carousel-images {
    width: 100%;
}

.other-projects-carousel-images img:hover {
    opacity: 0.9;
}

.other-projects-carousel-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    width: 100%;
}

.carousel-elements-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-elements-container img:hover {
    opacity: 0.8;
}

.carousel-elements-container li {
    background: #FFFFFF4D;
    height: 5px;
    width: 2em;
    margin: 0 0.1em;
    border-radius: 1px;
}

.carousel-elements-container li:hover {
    animation: 0.05s linear 0.05s forwards carousel;
    cursor: pointer;
}

@keyframes carousel {
    from{

    }
    to{
        background-color: white;
        width: 2.2em;
        margin: 0;
    }
}

#our-help-container {
    width: 100%;
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20em;
}

#our-help-container svg {
    width: 100%;
}

#our-help-container h2 {
    width: 100%;
    margin-bottom: 1em;
}

.gray-text {
    opacity: 0.6;
}

.our-help-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
}

.our-help-content img {
    margin: 0 2em;
}

#left-side-our-help {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.5em;
    min-width: 180px;
}


#right-side-our-help {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.2em;
    width: 15em;
    min-width: 240px;
}

.our-help-text-gap {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.our-help-text-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#about-us-container {
    position: relative;
    margin-bottom: 40em;
}

.about-us-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    min-width: 950px;
}

#about-us-container h2 {
    width: 30%;
}

.about-us {
    font-size: 1.4em;
    width: 40%;
    line-height: 1.5em;
}

.more-about-us {
    width: 30%;
    font-size: 1.5em;
}

.absolute-elements img {
    position: absolute;
    z-index: 2;
}

.first-image {
    bottom: 1em;
}

.second-image {
    top: 25em;
    left: 23em;
}

.third-image {
    top: 10em;
    left: 60em;
}

.figures img {
    z-index: 0 !important;
}

.absolute-elements .first-figure {
    left: 60em;
    bottom: 15em;
}

.second-figure {
    top: 17em;
    left: 65em;
}

.third-figure {
    left: -30em;
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-y: clip;
    padding-bottom: 5em;
}

footer div {
    z-index: 4;
}

#circles {
    z-index: 3;
}

#footer-email-contact {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
}

#left-side-footer {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#left-side-footer h2 {
    font-size: 3.5em;
}

#information-about-us {
    display: flex;
    gap: 5em;
}

#information-about-us a {
    margin-bottom: 0.5em;
    display: block;
}

.right-side-footer-component {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.right-side-footer-component div div {
    margin: 1em 0;
}

#circles div {
    border-radius: 50%;
    position: absolute;
}

.green {
    background-color: #3EFFB4;
    width: 600px;
    height: 600px;
    z-index: 1;
    top: 12em;
    left: 15em;
}

.light-blue {
    background-color: #53A0FD;
    width: 400px;
    height: 400px;
    top: 2em;
    left: 40em;
    z-index: 2;
}

.blue {
    background-color: #3023AE;
    width: 600px;
    height: 600px;
    top: 10em;
    left: 40em;
    z-index: 3;
}

@keyframes up-moving {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
}

.up-arrow:hover {
    animation: 0.1s linear 0.05s forwards up-moving;
}

@keyframes down-moving {
    from {
        transform: translateY(0);
    }
    to  {
        transform: translateY(15px);
    }
}

.down-arrow:hover {
    animation: 0.1s linear 0.05s forwards down-moving;
}

@keyframes right-moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(15px);
    }
}

.right-arrow:hover {
    animation: 0.1s linear 0.05s forwards right-moving;
}

.right-arrow {
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-arrow div {
    display: inline;
}

#go-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.blured-circles {
    position: relative;
    border-radius: 50%;
    width: 0;
    height: 0;
}

.blured-circles .first {
    position: absolute;
    background-color: #55ff85;
    box-shadow: 0 0 12em 10em #55ff85;
    right: -20em;
}

.blured-circles .second {
    position: absolute;
    background-color: blue;
    box-shadow: 0 0 15em 10em blue;
    right: -25em;
    bottom: -10em;
}

#second-circles {
    left: -85em;
}

@media screen and (max-device-width: 768px) {
    * {
        min-width: auto !important;
    }

    main, footer {
        width: 90%;
    }

    html {
        overflow-x: clip;
    }

    header {
        width: 100%;
    }

    h2{
        font-size: 2.5em !important;
    }

    .nav-buttons {
        display: none;
    }

    .menu-button {
        font-size: 1.5em;
    }

    .menu-button img {
        width: 1.4em;
    }

    .introduction-sequence {
        font-size: 1em;
        width: 100%;
        gap: 0;
    }

    .introduction-sequence img {
        display: none;
    }

    .our-clients{
        flex-direction: column;
        gap: 5em;
        width: 70%;
    }

    #what-are-we-container {
        position: relative;
        flex-direction: column;
        overflow-x: clip;
    }

    #what-are-we-container img {
        width: 120%;
    }

    .what-are-we {
        width: 100%;
    }

    .what-are-we img {
        width: 100%;
        height: 100%;
    }

    .our-projects {
        flex-direction: column-reverse;
    }

    .our-clients-container{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .our-clients {
        width: 90%;
    }

    .our-clients img{
        height: auto;
        width: 100%;
    }

    #other-projects-container{
        width: 90%;
    }

    .other-projects-carousel-images{
        display: flex;
        justify-content: center;
    }

    .other-projects-carousel-images img{
        display: none;
    }

    .other-projects-carousel-images img:nth-child(1){
        display: block;
        width: 100%;
    }

    .other-projects-carousel-interactions {
        margin: 0;
        width: 80%;
    }

    .carousel-elements-container li {
        width: 1.5em;
    }

    .our-help-content {
        flex-direction: column;
        align-items: start;
        gap: 3em;
        width: 100%;
    }

    .our-help-content img {
        margin: 0;
    }




    #about-us-container {
        margin-bottom: 50em;
    }

    .about-us-information-container {
        align-items: start;
        gap: 4em;
    }

    .about-us {
        width: 100%;
    }

    .absolute-images {
        z-index: 2;
    }

    .first-image {
        top: 25em;
        left: 10em;
    }

    .second-image {
        left: 0;
        top: 40em;
    }

    .third-image {
        top: 50em;
        left: 10em;
    }

    .first-figure {
        left: -10em;
        top: 50em;
    }

    .second-figure {
        display: none;
    }

    .third-figure {
        left: -10em;
        top: 26em;
        width: 80%;
    }

    #left-side-footer {
        font-size: 0.8em;
    }

    footer {
        flex-direction: column;
        margin-bottom: 2em;
    }

    #information-about-us {
        grid-area: info;
        margin-top: 5em;
        display: flex;
        gap: 4em;
    }

    #circles {
        display: none;
        z-index: 2;
    }

    #go-to-top {
        position: fixed;
        right: 1em;
        bottom: 1em;
    }
}