* {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-family: Inter, sans-serif;
    z-index: 1;
}

header {
    width: 95%;
}

main {
    margin: 0 auto;
    width: 1280px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

a:hover {
    opacity: 0.8;
}

html, body, header, nav, main, section {
    background-color: black
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px;
}

nav svg {
    width: 3em;
    height: 3em;
}

.nav-buttons {
    display: flex;
    align-self: end;
    gap: 3em;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.menu-button svg {
    width: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
}

.introduction-sequence-container {
    position: relative;
    margin-bottom: 10em;
}

.introduction-sequence {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 600px;
}

.introduction-sequence div {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 55%;
    Z-index: 2;
}

.introduction-sequence div span {
    font-size: 6em;
    font-weight: 500;
}

.introduction-sequence img {
    position: absolute;
    left: 25em;
    top: 5em;
    z-index: 0;
}

.go-to {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 1.5em;
}

.go-to svg {
    width: 40px;
}

.go-to span {
    opacity: 60%;
}

.our-clients-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 85%;
    margin-bottom: 30em;
}

#our-clients-label {
    opacity: 60%;
}

.our-clients-container div {
    display: flex;
    justify-content: space-between;
}

.our-clients svg {
    height: 3em;
}

.our-clients img {
    height: 3em;
}

.what-are-we-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30em;
    width: 85%;
    margin-bottom: 25em;
}

.what-are-we-container img {
    width: 50%;
}

.what-are-we {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 45%;
}

.what-are-we span {
    font-size: 1.1em;
    opacity: 60%;
}

.our-projects-container {
    width: 90%;
}

.our-projects-label {
    font-size: 6em;
    margin-bottom: 1em;
}

.our-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    margin-bottom: 15em;
}

.our-projects img {
    width: 100%;
}

.our-projects-right-side, .our-projects-left-side {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.our-projects-left-side, .our-projects-right-side {
    width: 100%;
}

.our-projects-left-side h1 {
    font-size: 2em;
}

.coming-soon-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    background-color: #FFFFFF1A;
    height: 100%;
    padding: 2em;
}

.coming-soon-projects div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    background-color: black;
    height: 2em;
    width: 18%;
    border-radius: 1em;
    min-width: 2em;
    font-size: 0.9em;
}

.other-projects-container h1 {
    font-size: 5em;
    margin-left: 0.2em;
    margin-bottom: 0.5em;
}

.other-projects-carousel-images {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 2em;
    width: 1280px;
    overflow: hidden;
}

.other-projects-carousel-images {
    width: 100%;
}

.other-projects-carousel-images img:hover {
    opacity: 0.9;
}

.other-projects-carousel-interactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    width: 100%;
}

.carousel-elements-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5em;
}

.carousel-elements-container img:hover {
    opacity: 0.8;
}

.carousel-element {
    background: #FFFFFF4D;
    height: 5px;
    width: 2em;
    border-radius: 1px;
}

.carousel-element:hover {
    animation: 0.5s linear 0.05s forwards carousel;
}

@keyframes carousel {
    from{

    }
    to{
        background-color: white;
        width: 2.5em;
    }
}

.hwchg-container {
    width: 95%;
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20em;
}

.hwchg-container svg {
    width: 100%;
}

.hwchg-container h1 {
    font-size: 5em;
    width: 100%;
    margin-bottom: 1em;
}

.gray-text {
    opacity: 0.6;
}

.hwchg-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 80%;
}

#left-side-hwchg {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.5em;
}


#right-side-hwchg {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.2em;
    width: 15em;
}

.hwchg-text-gap {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.hwchg-text-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.about-us-container {
    position: relative;
    margin-bottom: 40em;
}

.about-us-information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.about-us-container h1 {
    font-size: 5em;
    width: 30%;
}

.about-us {
    font-size: 1.4em;
    width: 40%;
    line-height: 1.5em;
}

.more-about-us {
    width: 30%;
    font-size: 1.5em;
}

.absolute-images {
    position: absolute;
}

.first-image {
    bottom: 1em;
}

.second-image {
    top: 25em;
    left: 23em;
}

.third-image {
    top: 10em;
    left: 60em;
}

.absolute-figures {
    position: absolute;
    z-index: 0;
}

.first-figure {
    left: 60em;
    bottom: 15em;
}

.second-figure {
    top: 17em;
    left: 65em;
}

.third-figure {
    left: -30em;
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10em;
    width: 1250px;
    overflow: clip;
}

footer div {
    z-index: 3;
}

#footer-email-contact {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
}

#left-side-footer {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.right-side-footer-component {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.right-side-footer-component div div {
    margin: 1em 0;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.green {
    background-color: #3EFFB4;
    width: 600px;
    height: 600px;
    z-index: 1;
    top: 12em;
    left: 15em;
}

.light-blue {
    background-color: #53A0FD;
    width: 400px;
    height: 400px;
    top: 2em;
    left: 40em;
    z-index: 2;
}

.blue {
    background-color: #3023AE;
    width: 600px;
    height: 600px;
    top: 10em;
    left: 40em;
    z-index: 3;
}

@keyframes up-moving {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
}

.up-arrow {

}

.up-arrow:hover {
    animation: 0.1s linear 0.05s forwards up-moving;
}

@keyframes down-moving {
    from {
        transform: translateY(0);
    }
    to  {
        transform: translateY(15px);
    }
}

.down-arrow:hover {
    animation: 0.1s linear 0.05s forwards down-moving;
}

@keyframes right-moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(15px);
    }
}

.right-arrow:hover {
    animation: 0.1s linear 0.05s forwards right-moving;
}

.right-arrow {
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-arrow div {
    display: inline;
}

